body{
    background-color: aqua;
}
.quote {
    background-color: white;
    border-radius: 4px;
    margin-top: 15%;
}
.quoteText {
     padding: 20px;
     height:50%;
    font-size: large;
 }

.quoteAuthor {
    padding: 20px;
    height:10%;
    font-size: small;
}
.nextButton {
    margin-bottom: 20px;
}
.portfolio {
    text-align: center;
}