body{
    transition: background-color 3s;
    background-color: #1e43ff;
}
.quote {
    background-color: white;
    border-radius: 2px;
    margin-top: 15%;
}
.quoteText {
    transition: color 3s;
    color: #1e43ff;
    text-align: center;
    padding: 20px;
    height:50%;
    font-size: x-large;
 }

.quoteAuthor {
    transition: color 3s;
    color: #1e43ff;
    text-align: right;
    padding: 20px;
    height:10%;
    font-size: small;
}
.nextButton {
    margin-bottom: 20px;
}
.portfolio {
    color: white;
    text-align: center;
    font-size: x-small;
}

.nextButton {
    background-color: #1e43ff;
    transition: background-color 3s;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.nextButton:hover{
    opacity: 0.8;
}

.twitterButton:hover{
    opacity: 0.8;
    border-color: transparent;
}

.twitterButton{
    background-color: #1e43ff;
    border-color: transparent;
    color: white;
    transition: background-color 3s;
}

@media screen and (max-width: 740px) {
    .quote {
        background-color: white;
        border-radius: 10px;
        margin-top: 10%;
        height: 90vh;
    }
    .quoteAuthor {
        transition: color 3s;
        color: #1e43ff;
        text-align: right;
        padding: 20px 20px 80px 20px;
        height:10%;
        font-size: small;
    }
}
